
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: cursive;
    
}

.título-página h1{

    text-align: center;
    padding: 0;
    color: skyblue;
    font-size: xx-large;

}
.título-página h2{

    text-align: center;
    padding-top: 0;
    padding-bottom: 2vw;
    color: skyblue;
    font-size: large;

}

nav{
    background-color: skyblue;
    color:  rgb(15, 2, 15);
    justify-content: space-around;
    font-size: x-large;
}

.ícone1{

    width: 150px;
    height: 150px;
    display: block; /*sem esta linha, as seguintes não têm efeito*/
    margin-left: auto;
    margin-right: auto; 
    padding-top: 20px;   
}

#nav{  /*id tem que colocar com hashtag*/

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*top: 0;
    position: fixed;*/
    
    /*aprendi a usar mas preferi não utilizar este recurso de fazer o nave descer junto 
    ao rolar a página para baixo*/
}

#nav a{

    padding: 10px;
    color: rgb(2, 2, 24); 
    transition: 0.3s;
    
}

#nav a:hover{
    background:rgb(122, 122, 255);
 
}

body{
    
    width: 100vw;
    background-color: rgb(15, 2, 15)/*rgb(2, 2, 24); *//*importante manter o background color para o caso de a imagem não aparecer)*/
    /*background-image: url("../img/bluecurtains.jpg"); *//*tem que ser ponto ponto;*//*Achei que não ficou bonito deixar as cortinas, 
    então desisti delas. As imagens são mais valorizadas com um fundo neutro*/
    
}

.imagens1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagens2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagens3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagens4{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#bilancia{
    
    margin-left: 9px; /*tive que criar essa id para ajustar a imagem, que estava desalinhada*/
    margin-right: auto;
}

#scorpione{
    margin-left: 30px; /*tive que criar essa id para ajustar a imagem, que estava desalinhada*/
    margin-right: 0;
}
#sagita{
    margin-left: auto; /*tive que criar essa id para ajustar a imagem, que estava desalinhada*/
    margin-right: 8px;
}
#aqua{

margin-left: 0; /*tive que criar essa id para ajustar a imagem, que estava desalinhada*/
margin-right: 30px;

}


.height{
    width: 350px;
    height: 350px;
}

figcaption{
    color: skyblue;
    justify-content: space-around;
    padding-bottom: 30px;

}

footer{

    padding: 5vw;
    text-align: center;
    
}